@font-face {
  font-family: "iconfont"; /* Project id 4532130 */
  src: url('iconfont.woff2?t=1715765714857') format('woff2'),
       url('iconfont.woff?t=1715765714857') format('woff'),
       url('iconfont.ttf?t=1715765714857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugai:before {
  content: "\e6a4";
}

.icon-xiangzuo:before {
  content: "\e6a2";
}

.icon-xiangyou:before {
  content: "\e6a3";
}

.icon-biaoqian:before {
  content: "\e6b7";
}

.icon-cha:before {
  content: "\e6a0";
}

.icon-jiahao:before {
  content: "\e69e";
}

.icon-yejianmoshi:before {
  content: "\e611";
}

.icon-baitianmoshi:before {
  content: "\e68f";
}

.icon-pinglun:before {
  content: "\e69f";
}

.icon-touxiang:before {
  content: "\e6a5";
}

.icon-xin:before {
  content: "\e6a6";
}

