@font-face {
  font-family: "iconfont"; /* Project id 4532130 */
  src: url('iconfont.woff2?t=1714648025589') format('woff2'),
       url('iconfont.woff?t=1714648025589') format('woff'),
       url('iconfont.ttf?t=1714648025589') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before {
  content: "\e6a6";
}

